{% if user.has_perm 'catalog.can_unpublish_product' %}
    <form action="{% url 'catalog:product-unpublish' product.pk %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Снять с публикации</button>
    </form>
{% endif %}

{% if user.is_authenticated %}
    {% if product.owner == user or user.groups.filter(name='Модератор продуктов').exists %}
        <a href="{% url 'catalog:product-update' product.pk %}">Редактировать</a>
        <a href="{% url 'catalog:product-delete' product.pk %}">Удалить</a>
    {% endif %}
{% endif %}

